<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-facebook-social-share"
    version="1.0.0">

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <name>Facebook Social Share</name>

    <description>FacebookSocialShare management plugin for Cordova/PhoneGap</description>

    <author>Webvalley Agency</author>

    <keywords>clipboard,copy,paste,clear</keywords>

    <license>MIT</license>

    <js-module src="www/facebook-social-share.js" name="FacebookSocialShare">
        <clobbers target="cordova.plugins.clipboard" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacebookSocialShare">
                <param name="ios-package" value="CDVClipboard" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVClipboard.h" />
        <source-file src="src/ios/CDVClipboard.m" />
    </platform>
    
    <!-- Android -->
    <platform name="android">
        <source-file src="src/android/FacebookSocialShare.java" target-dir="src/com/verso/cordova/clipboard" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FacebookSocialShare">
                <param name="android-package" value="com.verso.cordova.clipboard.FacebookSocialShare" />
            </feature>
        </config-file>
    </platform>
</plugin>
